---
import type { MetaOptions, PathOptions } from "./BlockType";

interface Props {
  options: unknown;
  meta?: MetaOptions;
  path: PathOptions;
}

const { options, meta, path } = Astro.props;
const metaInfo = JSON.stringify(meta, null, 2);
const optionsInfo = JSON.stringify(options, null, 2);
const pathInfo = JSON.stringify(path, null, 2);
---

<div class="col-span-12">
  <pre>{metaInfo}</pre>
  <pre>{optionsInfo}</pre>
  <pre>{pathInfo}</pre>
</div>
