---
import type { CollectionEntry } from "astro:content";

// 原信息类型
type MetaTypes = CollectionEntry<"work">["data"]["meta"];

interface Props {
  options: unknown;
  meta?: MetaTypes;
}

const { options, meta } = Astro.props;
const metaInfo = JSON.stringify(meta, null, 2);
const optionsInfo = JSON.stringify(options, null, 2);
---

<div class="col-span-12">
  <pre>{metaInfo}</pre>
  <pre>{optionsInfo}</pre>
</div>
