---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

// 数组取number,获得联合类型
type ContentTypes = CollectionEntry<"work">["data"]["contents"][number];
// 原信息类型
type MetaTypes = CollectionEntry<"work">["data"]["meta"];

interface Props {
  options: Extract<ContentTypes, { type: "PictureBlock" }>;
  meta?: MetaTypes;
}

const { options } = Astro.props;

const images = [];
images.push(...options.srcset);
---

<div
  class="image-container flex mobile:col-span-12"
  class:list={[options.className || ""]}
>
  <div class="grid flex-1 mobile:!grid-cols-1 mobile:!gap-8">
    {
      images.map((item) => (
        <div class="image-wrap">
          <Image
            src={item}
            alt={`image:${options.description}`}
            width="1600"
            height="900"
          />
        </div>
      ))
    }
  </div>
  {options.description && <div class="">{options.description}</div>}
</div>

<style scoped>
  .image-container {
  }
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    grid-gap: 0.5rem;
  }
  .image-wrap img {
    width: 100%;
    height: auto;
  }
</style>
