---
import type { ContentUnionType, MetaOptions, PathOptions } from "./BlockType";

interface Props {
  options: Extract<ContentUnionType, { type: "SpaceBlock" }>;
  meta?: MetaOptions;
  path: PathOptions;
}
const { options } = Astro.props;
---

<div class="mb-36 mobile:mb-8" class:list={[options.className || ""]}></div>
