---
import type { CollectionEntry } from "astro:content";

// 数组取number,获得联合类型
type ContentTypes = CollectionEntry<"work">["data"]["contents"][number];
// 原信息类型
type MetaTypes = CollectionEntry<"work">["data"]["meta"];

interface Props {
  options: Extract<ContentTypes, { type: "SpaceBlock" }>;
  meta?: MetaTypes;
}
const { options } = Astro.props;
---

<div class="mb-36 mobile:mb-8" class:list={[options.className || ""]}></div>
