---
import type { ContentUnionType, MetaOptions, PathOptions } from "./BlockType";
import SwipeImage from "../SwipeImage.astro";
import { getPublicSourcePath } from "@/utils/url";

interface Props {
  options: Extract<ContentUnionType, { type: "SwipeBlock" }>;
  meta?: MetaOptions;
  path: PathOptions;
}

const { options, path } = Astro.props;
const imageList = options.srcset.map((src) =>
  getPublicSourcePath([path.collection, ...path.paths], src),
);
---

<div
  class="grid grid-cols-12 gap-x-2 mobile:flex mobile:gap-0 mobile:flex-col content-visibility contain-intrinsic-size"
  class:list={[options.className || ""]}
>
  {
    options.picturePosition === "right" && (
      <div
        class="mobile:pb-6"
        class:list={[
          `col-span-${12 - Number(options.cols || 8)}`,
          {
            "mobile:hidden": !options.description,
          },
        ]}
      >
        {options.description}
      </div>
    )
  }
  <div
    class="mobile:col-span-12"
    class:list={[`col-span-${options.cols || 12}`]}
  >
    <SwipeImage images={imageList} />
  </div>
  {
    options.description && options.picturePosition !== "right" && (
      <div
        class="pl-7 mobile:p-0 mobile:pt-6"
        class:list={[`col-span-${12 - Number(options.cols || 8)}`]}
      >
        {options.description}
      </div>
    )
  }
</div>
