---
import type { ContentUnionType, MetaOptions, PathOptions } from "./BlockType";

interface Props {
  options: Extract<ContentUnionType, { type: "TextBlock" }>;
  meta?: MetaOptions;
  path: PathOptions;
}
const { options } = Astro.props;
---

<div
  class="col-span-12 flex justify-center font-bold"
  class:list={[options.className || ""]}
>
  {options.content}
</div>
