---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Null Studio Gallery">
  <main
    class="w-full h-full min-h-[200px] flex justify-center items-center text-2xl"
  >
    Page Not Found
  </main>
</PageLayout>
