---
import BaseLayout from "@/layouts/BaseLayout.astro";

const BASE_URL = import.meta.env.BASE_URL;
---

<BaseLayout title="Null Studio Gallery" />
<div class="w-screen h-screen flex justify-center items-center">
  <a href={BASE_URL}>
    <div class="empty-bg"></div>
  </a>
</div>

<style>
  .empty-bg {
    width: 146px;
    height: 142px;
    background: url("../assets/images/404.svg") no-repeat center/100% auto;
  }
</style>
