---
import SwiperImage from "../components/SwiperImage.astro";
import VideoContainer from "../components/VideoContainer.astro";
import ImgContainer from "../components/ImgContainer.astro";
import TextWidget from "../components/TextWidget.astro";
import PageLayout from "../layouts/PageLayout.astro";
import detailData from "../data/detail.json";
const list = detailData.en
const BASE_URL = import.meta.env.BASE_URL;
const templates = list.map(item =>{
  if(item.widget === 'TextWidget') {
    return {
      ...item,
      widget: TextWidget
    }
  }
  if(item.widget === 'SwiperImage') {
    return {
      ...item,
      widget: SwiperImage
    }
  }
  if(item.widget === 'ImgContainer') {
    return {
      ...item,
      widget: ImgContainer
    }
  }
  if(item.widget === 'VideoContainer') {
    return {
      ...item,
      widget: VideoContainer,
      src: item.src || ['']
    }
  }
  return item;
})
---

<PageLayout title="Null Studio Gallery" active="personal">
  <div class="pt-[8.75rem] grid grid-cols-12 gap-2">
    {
      templates.map((Item) => (
        <Item.widget content={Item.content} description={Item.description} className={Item.className} src={Item.src}>
        </Item.widget>
      ))
    }
  </div>
</PageLayout>
<style>
</style>
