---
import HomeLayout from "../layouts/HomeLayout.astro";
import BackgroundVideo from "../components/BackgroundVideo.astro";
const src = "/hls/test.m3u8";
---

<HomeLayout title="Null Studio Gallery">
  <main class="w-screen h-screen overflow-hidden">
    <BackgroundVideo src={src} />
  </main>
</HomeLayout>
