---
import HomeLayout from "../layouts/HomeLayout.astro";
import BaseVideo from "../components/BaseVideo.astro";
const BASE_URL = import.meta.env.BASE_URL;
const src = `${BASE_URL}/hls/test.m3u8`;
---

<HomeLayout title="Null Studio Gallery">
  <main class="w-screen h-screen bg-black overflow-hidden">
    <BaseVideo autoplay="autoplay" type="m3u8" src={src} />
    <a
      href={`${BASE_URL}/work`}
      class="next-button fixed mobile:hidden right-16 w-[3.625rem] bottom-1/2 translate-y-1/2 z-30 cursor-pointer h-[3.5rem]"
    ></a>
    <a
      href={`${BASE_URL}/work`}
      class="next-button-mobile hidden mobile:block fixed w-[3.625rem] z-30 cursor-pointer h-[3.5rem] right-1/2 translate-x-1/2 bottom-16"
    ></a>
  </main>
</HomeLayout>
<style>
  .next-button {
    background-image: url(../assets/images/next.svg);
    background-size: 100% auto;
  }
  .next-button-mobile {
    background-image: url(../assets/images/next-mobile.svg);
    background-size: 100% auto;
  }
</style>
