---
import Layout from "../layouts/Layout.astro";
import Video from "../components/client/Video.vue";
---

<Layout title="Null Studio Gallery">
  <main class="w-screen h-screen overflow-hidden">
    <Video client:load/>
  </main>
</Layout>
