---
import PageLayout from "../layouts/PageLayout.astro";
import personalData from "../data/personal.json";
const list = personalData.en
---

<PageLayout title="Null Studio Gallery" active="/personal">
  <div class="pt-[8.75rem] mobile:pt-[6.25rem]">
    {
      list.map((item) => (
      <div
        class="flex justify-between mb-9 mobile:mb-0 last:mb-0 mobile:flex-col-reverse mobile:justify-end">
        <a
          class="group relative min-w-[96px] w-fit min-h-[58px] mobile:min-h-[48px] mobile:mt-2 h-fit flex-1 pr-6"
          href="/detail">
          <div class="text-xl">{item.title}</div>
          <div class="max-w-[100%] whitespace-pre-wrap mobile:hidden">{item.description}</div>
          <div class="hidden cursor-pointer group-hover:flex absolute inset-0 items-center mobile:!hidden">
            <div class="w-[96px] h-[58px] transform animate-mode-forwards animate-highlight-normal bg-dark-active-normal" ></div>
          </div>
        </a>
        <a href="/detail">
          <img src={item.cover} alt={item.cover} />
        </a>
      </div>
      ))
    }
  </div>
</PageLayout>
<style>
.bg-dark-active-normal {
  background-position: -1700px;
  background-size: 1800px auto;
}
</style>
