---
import PageLayout from "../../layouts/PageLayout.astro";
import thumbnailLarge from "../assets/images/thumbnail_large.png";
import instagramLogo from "../assets/images/instagram-logo.png";
import groupImg from "../assets/images/behance@3x.png";
---

<PageLayout title="Null Studio Gallery" class="flex min-h-0" active="contact">
  <!-- <main>11111</main> -->
  <div
    class="flex justify-start items-center mobile:block mobile:pt-[5.5rem] w-full flex-1"
  >
    <div class="flex flex-col mobile:mb-12 flex-1">
      <div class="text-[2rem] mb-5 mobile:mb-[9px]">Email</div>
      <div class="text-[1rem]">chen_gao_ding@163.com</div>
    </div>
    <div class="flex flex-col flex-1">
      <div class="text-[2rem] mb-5 mobile:mb-4">Social</div>
      <div class="flex">
        <img class="h-5" src={groupImg.src} />
        <img class="h-5 mx-3" src={instagramLogo.src} />
        <img class="h-5" src={thumbnailLarge.src} />
      </div>
    </div>
    <div class="flex-[2]"></div>
  </div>
  <div slot="footer"></div>
</PageLayout>
