---
import thumbnailLarge from "../assets/images/thumbnail_large.png";
import instagramLogo from "../assets/images/instagram-logo.png";
import groupImg from "../assets/images/behance@3x.png";
import logoGraphic from "../assets/images/logoGraphic.svg";

const locale = Astro.currentLocale as Locales;
---

<div
  class="footer flex w-full justify-between pt-[12.5rem] mobile:pt-[6.25rem] mobile:flex-col pb-32 mobile:pb-[5.5rem]"
>
  <div class="flex flex-col mobile:mb-12 flex-[2]">
    <div class="text-xl mobile:text-[18px] mb-7 mobile:mb-3">
      ©2023 Gaoding
    </div>
    <div>Art of Science, Science of Art</div>
    <div class="font-[Roboto-italic]">by Industrial Light & Magic</div>
    <div class="mt-5">
      <a
        class="block text-sm text-black"
        href="https://beian.miit.gov.cn/"
        target="_blank">京ICP备2023033337号-1</a
      >
      <a
        class="block text-sm text-black"
        href="https://beian.miit.gov.cn/"
        target="_blank">京ICP备2023033337号-2</a
      >
    </div>
  </div>
  <div class="flex flex-col mobile:mb-12 flex-1">
    <div class="text-xl mobile:text-[18px] mb-7 mobile:mb-3">
      {locale === "zh-CN" ? "网站建设" : "Web Built by"}
    </div>
    <div class="h-5"><img class="h-full" src={logoGraphic.src} /></div>
    <div class="mt-3">{locale === "zh-CN" ? "Null Studio" : "Null Studio"}</div>
  </div>
  <div class="flex flex-col flex-1">
    <div class="text-xl mobile:text-base mb-7 mobile:mb-3">Social</div>
    <div class="flex h-5">
      <a target="_blank" href="https://www.behance.net/chen_gao_ding"
        ><img
          class="h-full hover:opacity-60 cursor-pointer"
          src={groupImg.src}
        /></a
      >
      <a target="_blank" href="https://www.instagram.com/deane_chen"
        ><img
          class="mx-3 h-full hover:opacity-60 cursor-pointer"
          src={instagramLogo.src}
        /></a
      >
      <a
        target="_blank"
        href="https://www.xiaohongshu.com/user/profile/5d0aff960000000016039936?xhsshare=WeixinSession&appuid=5d0aff960000000016039936&apptime=1701142324"
        ><img
          class="h-full hover:opacity-60 cursor-pointer"
          src={thumbnailLarge.src}
        /></a
      >
    </div>
    <div class="mt-3">chen_gao_ding@163.com</div>
  </div>
</div>
