---
interface Props {
  src: string;
  controls?: boolean;
  autoplay?: string;
  type?: "mp4" | "m3u8";
  poster?: string;
}

const { src, type = "mp4", poster } = Astro.props;
---

<hls-video data-src={src}>
  <video
    class="hls-video w-full h-full object-cover z-0"
    playsinline="true"
    webkit-playsinline="true"
    muted
    preload="preload"
    x-webkit-airplay="allow"
    x5-playsinline
    custom-cache="false"
    loop
  >
  </video>
  <div
    class="progress w-[20rem] h-0.5 bg-[#222222] pr-[20rem] fixed z-10 overflow-hidden border-box top-1/2 left-1/2 -translate-x-1/2 transition-all"
  >
    <div class="h-full bg-white"></div>
  </div>
  <div
    class="play-button absolute hidden top-1/2 left-1/2 -translate-x-1/2 z-20 cursor-pointer hover:opacity-60"
  >
    <div
      class="play-svg w-[5.625rem] h-[5.625rem] mobile:w-[2.75rem] mobile:h-[2.875rem]"
    >
    </div>
  </div>

  <script>
    import { prefetch } from "astro:prefetch";
    import videojs from "video.js";

    class HlsVideo extends HTMLElement {
      private player?: ReturnType<typeof videojs>;

      constructor() {
        super();

        const source = this.dataset["src"] || "";

        if (source) prefetch(source, { with: "fetch" });

        const video = this.querySelector(".hls-video") as HTMLVideoElement;
        const progress = this.querySelector(".progress") as HTMLDivElement;
        const playButton = this.querySelector(".play-button") as HTMLDivElement;

        this.player = videojs(video, {
          controls: false,
          autoplay: true,
          preload: "auto",
          bufferedPercent: 5000,
          muted: true, // 默认情况下将会消除任何音频。
          loop: true,
          sources: [
            {
              type: "application/x-mpegURL",
              src: source,
            },
          ],
        });
        let index = 0;

        this.player.on("progress", function () {
          index += 1;
          if (index === 1) {
            progress.style.paddingRight = "6rem";
          }
          if (index === 3) {
            progress.style.paddingRight = "2rem";
            progress.style.transition = "none";
          }
        });

        this.player.ready(() => {
          progress.style.display = "none";
          if (window.env.browser.name === "WeChat")
            playButton.style.display = "block";
        });

        playButton.addEventListener("click", () => {
          // 监听视频播放开始
          playButton.style.display = "none";
          if (this.player) this.player.play();
        });
      }
    }

    customElements.define("hls-video", HlsVideo);
  </script>
  <style>
    .hls-video video {
      @apply w-full h-full object-cover;
    }
    .play-svg {
      background: url("../assets/images/video.svg") no-repeat center center/
        100% auto;
    }
  </style>
</hls-video>
