---
import navData from "../data/nav.json";
import logoBlackImage from "../assets/images/logo-black.svg";
import logoWhiteImage from "../assets/images/logo-white.svg";

interface Props {
  theme: "light" | "dark";
  active?: string;
}
const { theme, active } = Astro.props;
const defaultAcitve = active;
const routes = navData.nav.map((nav) => ({ name: nav.en, path: nav.path }));
const BASE_URL = import.meta.env.BASE_URL;
---

<div
  class:list={["header w-full flex fixed z-10 justify-between pt-7 pb-5 px-16 mobile:hidden max-w-[calc(2000px+8rem)] left-1/2 -translate-x-1/2", {"bg-white": theme === "light"}]}
>
  <a class="logo w-[91px] flex items-center" href={`${BASE_URL}`}>
    <img
      class="w-full"
      src={theme === "dark" ? logoWhiteImage.src : logoBlackImage.src}
      alt="logo"
    />
  </a>
  <div class="h-[4.5rem] flex justify-around items-center text-[1rem]">
    {
      routes.map((item) => (
        <a
          class="group relative min-w-[80px] w-fit min-h-[52px] h-fit ml-9"
          href={`${BASE_URL}${item.path}`}
        >
          <div
            class:list={[
              "absolute inset-0 flex justify-center items-center font=[Roboto] text-lg font-light",
              theme === "dark" ? "text-white" : "text-black",
            ]}
          >
            {item.name}
          </div>
          <div
            class:list={[
              "absolute inset-0 justify-center items-center",
              defaultAcitve === item.path ? "flex" : "hidden group-hover:flex",
            ]}
          >
            <div
              class:list={[
                "w-[40px] h-[27px] transform animate-mode-forwards",
                {
                  "animate-highlight-small": defaultAcitve !== item.path,
                },
                theme === "dark"
                  ? "bg-highlight-small"
                  : "bg-dark-active-small",
              ]}
            />
          </div>
        </a>
      ))
    }
  </div>
</div>
