---
interface Props {
  src: string;
}

const { src } = Astro.props;
---

<web-video class="relative w-full flex flex-col" data-src={src}>
  <video
    class="z-0 video h-full w-full object-cover object-center"
    src={src}
    playsinline="true"
    webkit-playsinline="true"
    preload="preload"
    x-webkit-airplay="allow"
    x5-playsinline
    custom-cache="false"
    muted
    loop
  >
  </video>
  <div
    class="play-button w-full h-full absolute top-0 left-0 z-10 flex justify-center items-center cursor-pointer hover:opacity-60"
  >
    <div
      class="play-svg w-[5.625rem] h-[5.625rem] mobile:w-[2.75rem] mobile:h-[2.875rem]"
    >
    </div>
  </div>
</web-video>

<script>
  import { prefetch } from "astro:prefetch";
  import videojs from "video.js";
  import "video.js/dist/video-js.min.css";

  class WebVideo extends HTMLElement {
    constructor() {
      super();

      const source = this.dataset["src"] || "";
      // 预加载
      if (source) prefetch(source, { with: "fetch" });


      const video = this.querySelector<HTMLMediaElement>("video");
      const playButton = this.querySelector<HTMLDivElement>(".play-button");
      if (!video) return;
      if (!playButton) return;
      const player = videojs(video, {
        controls: false,
        autoplay: true,
        preload: "auto",
        bufferedPercent: 5000,
        muted: true, // 默认情况下将会消除任何音频。
        loop: true,
        src: source,
      });
      // 预加载封面
      player.on("loadedmetadata", function () {
        video.currentTime = 0;
        player.pause();
      })
      playButton.addEventListener("click", function () {
        player.play();
        playButton.style.display = "none";
        video.controls = true;
      });

      player.on("pause", function () {
        video.controls = false;
        playButton.style.display = "flex";
      });
    }
  }

  customElements.define("web-video", WebVideo);
</script>

<style>
  .play-svg {
    background: url(../assets/images/video.svg) no-repeat center center/ 100%
      auto;
  }
</style>
