---
import BaseLayout from "./BaseLayout.astro";
import LaptopHeader from "../components/LaptopHeader.astro";
import MobileHeader from "../components/MobileHeader.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <LaptopHeader theme="dark" />
  <MobileHeader theme="light" />
  <slot />
  <div
    class="absolute left-16 bottom-16 mobile:bottom-3 mobile:left-1/2 mobile:-translate-x-1/2"
  >
    <a
      class="text-white text-xs"
      href="https://beian.miit.gov.cn/"
      target="_blank">京ICP备2023033337号-1</a
    >
  </div>
</BaseLayout>
<style></style>
